* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    --box-shadow: 0px 1.2rem 2.5rem rgba(0, 0, 0, 0.24);
    --text-color: #ed1c16;
    --white: #f7f7f7;
}

body {
    background-color: var(--white);
}

.container {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 93vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 39%;
    /* border: 1px solid black; */
}

.pics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 9.8rem;
}

.imgDice {
    width: 42.5%;
    border-radius: 4px;
    box-shadow: 0px 9px 1.2rem rgba(0, 0, 0, 0.24);
    /* visibility: none; */
}

img {
    width: 100%;
}

.player {
    width: 85%;
    height: 23.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    transition: all 0.4s;
}

[class^="player-"] {
    text-align: center;
}

[class^="player-"]:not(:last-child) {
    color: var(--text-color);
    font-size: 1.5rem;
}

[class$="-score"] {
    font-size: 1.2rem;
    color: white;
    background-color: var(--text-color);
    display: inline;
    margin: 0 auto;
    padding: 0.2rem 2rem 0.5rem 2rem;
}

.active {
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12%;
    transform: translate(-12%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--text-color);
}

.active-back {
    background-color: #ed1c1633;
}

.btn {
    text-decoration: none;
    color: var(--text-color);
    border-bottom: 1.3px solid var(--text-color);
    width: 58%;
    margin: 0 auto;
    padding: 0.4rem 0;
    /* font-size: 0.9rem; */
    transition: all .6s;
}

.btn:hover {
    color: white;
    border: none;
    background-color: var(--text-color);
    box-shadow: var(--box-shadow);
    transform: translateY(-2px) scale(1.056);
}

.btn:active {
    box-shadow: 0px 0.9rem 2.5rem rgba(0, 0, 0, 0.301);
    transform: translateY(0px);
    transition: all 0.4s;
}

#finalScore {
    border: 1px solid rgba(0, 0, 0, 0.329);
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border-radius: 2px;
    padding: 0.4rem 0;
}

@media (min-width:700px) {
    .container {
        flex-direction: row;
        width: 80vw;
        height: 85vh;
        box-shadow: var(--box-shadow);
        background-color: white;
        border-radius: 4px;
    }
    .player {
        height: 80%;
        max-width: 16.8rem;
        width: 30%;
    }
    .mid {
        height: 75%;
    }
}